<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.css">
    <title>Contact form</title>
</head>
<body>
    <section class="nav">
        <a href="/">contact</a>
    </section>

    <div class="contact">
        <form action="post" name="form" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="text" name="name" placeholder="Name">
            <input type="number" name="number" placeholder="Mobile number">
            <input type="email" name="email" placeholder="Email Id">
            <input type="text" name="address" placeholder="Address">
            <textarea type="textarea" name="textarea" rows="10" cols="20" placeholder="write Comments here"></textarea>
            <button id="btn">Submit</button>
        </form>
    </div>
    
</body>
</html>